@model Visao360.Educacao.Models.TheCalendario
@{
    ViewBag.Title = "Eventos do Calendário";
    string[] Meses = { "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" };    
}

<style>
    #monitor {font-size:12pt; font-weight:bold;}
    .ico { 
        font-size:12pt; 
        padding:4px;
        margin:4px;
    }
    .icosel { 
        font-size:12pt; 
        padding:4px;
        border:1px solid #bbb;
        margin:4px;
    }
    .icosel:hover{
        background: #f00;
        color: #fff;
    }
    .selecionavel:hover{
        background: #f00;
        color: #fff;
        cursor:pointer;
    }
	ul, li {
	    padding:0;
	    margin:0;
	    margin-top:-1px;
	    list-style:none;
	}
	.fila-ul { 
        width:1150px;
        height:100px;
        float:left;
        display:table;
	}
	.coluna-li { 
		width: 160px;
	    display:block;
	    float:left;
	    border:solid 1px #808080;
	    cursor:pointer;
	    position:relative;
	    overflow:hidden;
	    transition:all ease 0.35s;
	}
	.coluna-li p{
		margin:0;
		padding: 5px 5px 5px 3px;
	}
	.coluna-li p.dia {
		margin:0;
		text-align:right;
		font-size: 12pt;
		font-weight:bold;
		color: #111;
	}
	.coluna-li.cabdia{ background: #ddd; }
	.coluna-li p.pcabdia {
		margin: 10px;
		text-align:center;
		font-size: 12pt;
		font-weight:bold;
		color: #555;
	}
	.figuras{
		height:70px;
		font-size: 1.2em;
	}
	.a100{}
	.a50{height:50px;}
	.input-check { 
        display:block;
        opacity:.0;
        padding:0;
        margin:0;
        height:1px;
	}
	.cinza {background:#aaa;}
	.check { }
	.cabecalhoCalendario {
		padding: 10px;
		font-size: 12pt;
		font-weight:bold;
		color: #555;
	}
</style>

<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });

    var thespanFiguras = $("<span class='glyphicon icosel'></span>");
    var spanFigurasLite = $("<span class='glyphicon ico'></span>");

    var calendarioId = $('#CalendarioId').val();
    var anoId = $('#Ano').val();
    var mesId = $('#Mes').val();

    var dialog, form;

    // Carrega Tipos de Dias para o combo
    function carregarTiposDias() {
        $.getJSON("/Calendarios/GetTiposDias", {  },
           function (fooList) {
               var options = '';
               $.each(fooList, function (i, foo) {
                   options += "<option value='" + foo.Id + "'>"
                      + foo.Descricao + "</option>";
               });
               $('#TheTipoDiaId').removeAttr('disabled').html(options);
           });
    }

    // Ao confirmar gravação de dados
	function gravarDados(){
	    dialog.dialog("close");
			
	    $('.coluna-li').each(function () {
	        if ($(this).data('classe') != null) {
	            classe = $(this).data('classe');
	            $(this).addClass(classe);
	        };
	    });
	    var diaId = $('#diaId').val();
	    var tdId = $('#TipoDiaId').val();

        // Monta array com os eventos adicionados na caixa eventos_selecionados    
	    var te = Array();
	    $('#eventos_selecionados > .evento_adicionado').each(function () {
	        te.push($(this).data('tipo_evento_id'));
	    });

	    //alert('incluindo os seguintes:'+te);

	    var envio = { CalendarioId: calendarioId, AnoId: anoId, MesId: mesId, DiaId: diaId, TipoDiaId: tdId, TiposEventos: te };
	    var json = JSON.stringify(envio);
			
		$.ajax({
		    url: '/Calendarios/EventosPost',
			type: 'POST',
			dataType: 'json',
			data: json,
			contentType: 'application/json; charset=utf-8',
			success: function(dados){
			    processarRetorno(diaId, dados);
			}
		});			
    }

    // Ao retornar dados
	function processarRetorno(diaoriginal, dados){
	    var tiposDias = dados.ListaEstiloTipoDia;
	    var tiposEventos = dados.ListaEstiloTipoEvento;

	    if (diaoriginal > 0) {
	        var xdiaAlvo = $("#xli-" + diaoriginal);
	        xdiaAlvo.removeData('tipoDiaId');
	        xdiaAlvo.removeAttr('style');
	        //xdiaAlvo.css('background-color', '#fff');
	        //xdiaAlvo.data('tipoDiaId', tipoDiaId);
	    }

        // Remove todas as figuras do calendário
	    $('.figuras').empty();

	    $.each(tiposEventos, function (i) {
	        // lugar virou diaAlvo
	        var dia = tiposEventos[i].Dia;
	        var simbolo = tiposEventos[i].Simbolo;
	        //var tipoDiaId = tiposDias[i].TipoDiaId;
	        var tipoEventoId = tiposEventos[i].TipoEventoId;


	        var diaAlvo = $("#xli-" + dia);
	        var fig = diaAlvo.find('.figuras');

	        var theDiv = $('<div style="float:left;"/>')
                            .clone()
                            .data('simbolo', simbolo)
                            .data('tipo_evento_id', tipoEventoId)
                            .addClass('evento_adicionado');
            /*
	        var thediv = div.clone()
                .data('simbolo', simbolo)
                .data('tipo_evento_id', id)
            */


	        spanFigurasLite.clone()
                .addClass(simbolo)
                //.css('font-size','28pt')
                //.data('simbolo', simbolo)
                .appendTo(theDiv);

	        theDiv.appendTo(fig);

	    });

	    $.each(tiposDias, function(i) {
	        // lugar virou diaAlvo
	        var dia = tiposDias[i].Dia;
	        var cor = tiposDias[i].Cor;
	        var tipoDiaId = tiposDias[i].TipoDiaId;

	        var diaAlvo = $("#xli-" + dia);
	        diaAlvo.css('background-color', cor);
            diaAlvo.data('tipoDiaId', tipoDiaId);
        });
    }
	
    // Configura formulário
	dialog = $( "#dialog-form" ).dialog({
		autoOpen: false,
		height: 550,
		width: 500,
		modal: true,
		buttons: {
			"Criar Evento": gravarDados,
			"Cancelar": function(){
				dialog.dialog("close");
			}
		},
		close: function() {
			form[ 0 ].reset();
		}
	});
			
	form = dialog.find( "form" ).on( "submit", function( event ) {
		event.preventDefault();
	});

    // Evento ao mudar Tipo de Dia
	function tipoDiaChange() {
	    var tipoDia = $(this).val();
	    $('#TipoDiaId').val(tipoDia);
	}

    // Figuras para seleção !!!
	function CarregarTiposEventos() {
	    $.ajax({
	        url: '/Calendarios/GetListaTipoEvento',
	        type: 'GET',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        success: function (dados) {
	            displayFigurasCarregadas(dados);
	        }
	    });
	}

    // Mostrar lista de figuras
	function displayFigurasCarregadas(data) {
	    // Veja o icosel!!!
	    var div = $("<div></div>");

	    $.each(data, function (i) {
	        // Id, Descricao, Simbolo
	        var lugar = $("#tabelafiguras");
	        var simbolo = data[i].Simbolo;
	        var id = data[i].Id;

	        var thediv = div.clone()
                .data('simbolo', simbolo)
                .data('tipo_evento_id', id)
                .text(data[i].Descricao).css('font-size', '10pt')
                .addClass('selecionavel')
                .css('padding', '4px')
                .css('border', '1px solid #bbb')
                .css('margin', '4px');
	        thediv.appendTo(lugar);
	        thespanFiguras.clone()
                .addClass(data[i].Simbolo)
                .data('tipo_evento_id', id)
                .data('simbolo', simbolo)
                .prependTo(thediv);
	        thediv.on('click', selClick);
	    });
	}

	function selClick(event) {
	    // Pegar o attribute data-simbolo ou algo como
	    var simbolo = $(this).data('simbolo');
	    var tipo_evento_id = $(this).data('tipo_evento_id');
	    var lista = $('#eventos_selecionados').find('div > span');

	    var existe = false;
	    lista.each(function () {
	        if ($(this).data('simbolo') == simbolo) {
	            //alert('JÁ EXISTE SIMBOLO');
	            existe = true;
	        };
	    });
        
	    if (!existe) {
	        var xdiv = $("<div style='float:left'/>")
                .clone()
                .addClass("evento_adicionado")
                .data('nome', "itamar")
                .data('tipo_evento_id', tipo_evento_id);

	        var myspan = thespanFiguras.clone()
                .data('simbolo', simbolo)
                .addClass(simbolo)
                .appendTo(xdiv);

	        xdiv.appendTo('#eventos_selecionados');
	        xdiv.on('click', removerSelecionadoClick);
	    }
	}


    // Ao clicar em evento adicionado, remover
	function removerSelecionadoClick(event) {
	    event.preventDefault();
	    $(this).remove();
	}

    // Ao clicar no dia
	$('.data-valida').click(function (event) {
        var dia = $(this).data('dia');
        var tipoDiaId = $(this).data('tipoDiaId');

        var diaAlvo = $("#xli-" + dia);
        // Limpa a caixa dos eventos selecionados
        $("#eventos_selecionados").empty();

        // Se houver simbolos na figura, mostra todos eles no diálogo
        var icones = diaAlvo.find('.figuras > .evento_adicionado');
        $.each(icones, function () {
            var _simbolo = $(this).data('simbolo');
            var _tipo_evento_id = $(this).data('tipo_evento_id');

            if ( (_simbolo != null) && (_tipo_evento_id != null) ) {

                var xdiv = $("<div style='float:left'/>")
                    .clone()
                    .addClass("evento_adicionado")
                    .data('nome', "itamar")
                    .data('tipo_evento_id', _tipo_evento_id);

                var myspan = thespanFiguras.clone()
                    .data('simbolo', _simbolo)
                    .addClass(_simbolo)
                    .appendTo(xdiv);
                xdiv.appendTo('#eventos_selecionados');
                xdiv.on('click', removerSelecionadoClick);
            };
        });

        if (tipoDiaId != undefined) {
            $('#TheTipoDiaId').val(tipoDiaId);
        }
        $("#diaId").val(dia);

		var tdId = $('#TheTipoDiaId').val();
		$('#TipoDiaId').val(tdId);

		var target = event.target;
		$('#monitor').text('Eventos do dia '+dia); // Manda o dia
		
		//dialog.title = "TESTE";
		dialog.dialog("open");

		////////////$("#eventos_selecionados").empty();
    });
	
    // Renderiza os eventos do mês    
    $.ajax({
        url: '/Calendarios/GetEventosMes',
        type: 'GET',
        dataType: 'json',
        data: { CalendarioId: calendarioId, AnoId: anoId, MesId: mesId },
        contentType: 'application/json; charset=utf-8',
        success: function (dados) {
            processarRetorno(0, dados);
        }
    });

    CarregarTiposEventos();
    carregarTiposDias();
    $('#TheTipoDiaId').on('change', tipoDiaChange);

 });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

	<div class="row">
		<div class="col-md-12 cabecalhoCalendario">
            @Html.ActionLink("Voltar", "Index", "Calendarios", null, new { @class = "btn btn-default" })
			<a href="/Calendarios/@Model.CalendarioId/Eventos/@Model.MesAnterior" class="btn btn-warning">Anterior</a>
			&nbsp;@Model.MesNome/@Model.Ano
			&nbsp;
			<a href="/Calendarios/@Model.CalendarioId/Eventos/@Model.MesPosterior" class="btn btn-warning">Próximo</a>
		</div>
	</div>
    
	<div class="row">
        <div class="col-md-12 btn-group">
            <ul class="pagination">
                 @{ 
                    int i = 0;
                    string the_classe = "";
                    foreach (string m in Meses)
                    {
                        i++;
                        the_classe = (i == Model.Mes) ? "active" : "";
                        <li class="@the_classe"><a href="/Calendarios/@Model.CalendarioId/Eventos/@i">@m</a></li>
                    }
                 }
            </ul>
        </div>    
    </div>

    <div class="row">
		<div class="col-md-12" id="area">
			<ul class="fila-ul">
			    <li class="coluna-li cabdia"><p class="pcabdia">DOM</p></li>
			    <li class="coluna-li cabdia"><p class="pcabdia">SEG</p></li>
			    <li class="coluna-li cabdia"><p class="pcabdia">TER</p></li>
			    <li class="coluna-li cabdia"><p class="pcabdia">QUA</p></li>
			    <li class="coluna-li cabdia"><p class="pcabdia">QUI</p></li>
			    <li class="coluna-li cabdia"><p class="pcabdia">SEX</p></li>
			    <li class="coluna-li cabdia"><p class="pcabdia">SÁB</p></li>
			
   @foreach (Visao360.Educacao.Models.DataCalendario d in Model.ListaDias)
   {
       if (d.Dia != 0)
       {
			    <li class="coluna-li data-valida" id="xli-@d.Dia" data-dia="@d.Dia">
			    <p class="dia a100">@d.Dia</p>
                    <div class="figuras"></div>
			    </li>
       }
       else
       {
			    <li class="coluna-li">
				    <p class="dia a100 cinza">&nbsp;</p>
                    <div class="figuras cinza"></div>
			    </li>
       }
   }
			</ul>
		</div>
	</div>
    @Html.HiddenFor(model => model.Mes)
    @Html.HiddenFor(model => model.Ano)
    @Html.HiddenFor(model => model.CalendarioId)
    <input type="hidden" name="TipoDiaId" id="TipoDiaId" >
}

<!-- Formulário -->
<div id="_dialog-form" title="Editar Eventos do Dia">
</div>

<!-- http://jsfiddle.net/ambiguous/pjJGf/ -->

<!-- Formulário -->
<div id="dialog-form" title="Editar Eventos do Dia">
	<!--
	<p class="validateTips">All form fields are required.</p>
	-->
	<p id="monitor"></p>
	<form>
		<div id="tabs-1">
			<p>Selecione abaixo o Tipo do Dia</p>
            <select id="TheTipoDiaId" name="TheTipoDiaId" class="input-select f-left"></select>

		  	<p>Clique sobre os Eventos para adicionar</p>
		  	<div id="tabelafiguras" style="height:200px;font-size:14pt;overflow:auto;border:solid 1px #808080;">
		  	</div>
		  	<p>Clique sobre as figuras abaixo para remover</p>
		  	<div id="eventos_selecionados" style="height:70px;font-size:14pt;background:#fff;overflow:auto;border:solid 1px #808080;">
		    </div>
            <input type="hidden" name="diaId" id="diaId" >
			<!-- Allow form submission with keyboard without duplicating the dialog button -->
			<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</div>
	</form>
</div>