@model Visao360.Educacao.Models.TheCalendario
@{
    ViewBag.Title = "Eventos do Calendário";
    string[] Meses = { "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" };    
}

<style>
    #monitor {font-size:12pt; font-weight:bold;}
	/*
    label, input { display:block; }
	
	#monitor {font-size:12pt; font-weight:bold;}
	input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:25px; }
	h1 { font-size: 1.2em; margin: .6em 0; }
	div#users-contain { width: 350px; margin: 20px 0; }
	div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
	div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
	.ui-dialog .ui-state-error { padding: .3em; }
	.validateTips { border: 1px solid transparent; padding: 0.3em; }
    */

    .cores-ul {
        width:175px;
        /*height:22px;*/
        /*float:left;*/
        display:table;
    }
    .cores-li {
        width: 25px;
        height:30px;
        display:block;
        float:left;
        border:solid 1px #808080;
        cursor:pointer;
        position:relative;
        overflow:hidden;
        transition:all ease 0.35s;
    }
    .cores-li p{
        margin:0;
        padding: 5px 5px 5px 5px;
        text-align:center;
    }

    .icosel:hover{
        background: #f00;
        color: #fff;
    }


	ul, li {
	    padding:0;
	    margin:0;
	    margin-top:-1px;
	    list-style:none;
	}
	
	.fila-ul { 
        width:1150px;
        height:100px;
        float:left;
        display:table;
        /*font-size:0;*/
	}
	
    /*
	.coluna-li { 
		width: 160px;
	    display:block;
	    float:left;
	    border:solid 1px #808080;
	    cursor:pointer;
	    position:relative;
	    overflow:hidden;
	    transition:all ease 0.35s;
	}

	.coluna-li p{
		margin:0;
		padding: 5px 5px 5px 3px;
	}
	
	.coluna-li p.dia {
		margin:0;
		text-align:right;
		font-size: 12pt;
		font-weight:bold;
		color: #111;
	}
	
	.coluna-li.cabdia{
		background: #ddd;
	}
	
	.coluna-li p.pcabdia {
		margin: 10px;
		text-align:center;
		font-size: 12pt;
		font-weight:bold;
		color: #555;
	}
    */
	.coluna-li { 
		width: 160px;
	    display:block;
	    float:left;
	    border:solid 1px #808080;
	    cursor:pointer;
	    position:relative;
	    overflow:hidden;
	    transition:all ease 0.35s;
	    /*font-size:12px;*/
	}

	.coluna-li p{
		margin:0;
		padding: 5px 5px 5px 3px;
	}
	
	.coluna-li p.dia {
		margin:0;
		/*padding: 5px 5px 5px 3px;*/
		text-align:right;
		font-size: 12pt;
		font-weight:bold;
		color: #111;
	}
	
	.coluna-li.cabdia{
		background: #ddd;
	}
	
	.coluna-li p.pcabdia {
		margin: 10px;
		text-align:center;
		font-size: 12pt;
		font-weight:bold;
		color: #555;
	}
	
	.figuras{
		height:70px;
		font-size: 1.2em;
		/*margin: 5px;*/
	}
	

	.a100{
		/*min-height: 70px;*/
	}
	
	.a50{
		height:50px;
	}
	
	.input-check { 
        display:block;
        opacity:.0;
        padding:0;
        margin:0;
        height:1px;
	}

	.cinza { 
        background:#aaa;
	}
	
	.verde {
		background:lime;
	}
	
	.amarelo {
		background:yellow;
	}
	
	.azul {
		background:#CCE9FF;
	}
	
	.vermelho {
		background:#f00;
	}
	
	.check { 
        /*background:#b6ff00;*/ 
	}
	
	.cabecalhoCalendario {
		padding: 10px;
		/*text-align:center;*/
		font-size: 12pt;
		font-weight:bold;
		color: #555;
		/*background: #ffff00;*/
	}
</style>

<script type="text/javascript">
$(function() {

    $("#tabs").tabs();

	// Prepara dados para envio
	function getInformacao(){
		var nomeClasse = $('#name').val();
		var numeroDia = $('#numeroDia').val();
		
		var retorno = { Mes: @Model.Mes, Dia: numeroDia, Evento : nomeClasse };
		return retorno;
	}	

	var alvo;
    var ful = $("<ul class=fila-ul>");
    var fli = $("<li class=coluna-li><input type=checkbox><p/><li/>");
    var n = 0;

    // Função que desabilita o botão para assentos ocupadas
    $('.coluna-li').each(function () {
        if ($(this).data('title') == 'ocupado') {
            $(this).addClass('cinza');
            $(this).find('.input-check').prop('disabled', true).prop('checked', false);
        };
    });

 	var dialog, form;
	
	function ___marcarDia(){
		var info = getInformacao();
		var json = JSON.stringify(info); // funfou
		var classe = $('#name').val();
			
		dialog.dialog("close");
			
		$(alvo).data('classe',classe);
			
		$('.coluna-li').each(function () {
	        if ($(this).data('classe') != null) {
	            classe = $(this).data('classe');
	            $(this).removeClass('amarelo');
	            $(this).removeClass('verde');
	            $(this).removeClass('azul');
	            $(this).removeClass('vermelho');
	            $(this).addClass(classe);
	        };
        });
			
		var nomeClasse = $('#name').val();
		var numeroDia = $('#numeroDia').val();
		var theMesAtual = 105; //@Model.MesAnterior;

	    var envio = { Mes: theMesAtual, NumeroDia: numeroDia, NomeClasse : nomeClasse };

			
		$.ajax({
			url: '/Calendarios/EventosPost',
		    type: 'POST',
		    dataType: 'json',
		    data: json,
		    contentType: 'application/json; charset=utf-8',
		    success: function(dados){
		        processarRetorno(dados);
		    }
		});			

		dialog.dialog("close");
	}
	

    
	function marcarDia(){
	    var info = getInformacao();
	    var json = JSON.stringify(info); // funfou
			
	    var classe = $('#name').val();
			
	    dialog.dialog("close");
			
	    $(alvo).data('classe',classe);
			
	    $('.coluna-li').each(function () {
	        if ($(this).data('classe') != null) {
	            classe = $(this).data('classe');
	            $(this).removeClass('amarelo');
	            $(this).removeClass('verde');
	            $(this).removeClass('azul');
	            $(this).removeClass('vermelho');
	                
	            $(this).addClass(classe);
	        };
	    });
	    var nomeClasse = $('#name').val();
	    var numeroDia = $('#numeroDia').val();
	    var theMesAtual = @Model.Mes;
            
			
	    var envio = { Mes: theMesAtual, NumeroDia: numeroDia, NomeClasse : nomeClasse };
			
		$.ajax({
		    url: '/Calendarios/EventosPost',
			type: 'POST',
			dataType: 'json',
			data: json,
			contentType: 'application/json; charset=utf-8',
			success: function(dados){
			    processarRetorno(dados);
			}
		});			
    }
    
    /*
    function ___processarRetorno(data){
        $.each(data, function(i) {
            // Dia, Cor
            var nome = "#xli"+data[i].Dia;
            $("#xli-"+data[i].Dia).addClass("amarelo");
        	
        	
            ////alert("processando Dados: "+ data[i].Cor + );
            //alert(data[index].TEST2);
        });
    }
    */


    function processarRetorno(data){
        var thespan = $("<span class='glyphicon'></span>");
        var estrela = $("<span class='glyphicon glyphicon-star'></span>");
        var hora = $("<span class='glyphicon glyphicon-time'></span>");
        var coracao = $("<span class='glyphicon glyphicon-heart'></span>");
        var figura = $("<span class='glyphicon glyphicon-picture'></span>");
        var livro = $("<span class='glyphicon glyphicon-book'></span>");
	
        $.each(data, function(i) {
            $("#xli-"+data[i].Dia).addClass("vermelho");


            var lugar = $("#xli-"+data[i].Dia);
            lugar.css('background-color',data[i].Bg);
            var fig = lugar.find('.figuras');
            fig.css('color',data[i].Fg);
            thespan.clone().addClass('glyphicon-comment').css('padding','2px').appendTo(fig);
        	
            estrela.clone().css('padding','2px').appendTo(fig);
            hora.clone().css('padding','2px').appendTo(fig);
            coracao.clone().css('padding','2px').appendTo(fig);
            figura.clone().css('padding','2px').appendTo(fig);
            livro.clone().css('padding','2px').appendTo(fig);
        });
    }


	
	dialog = $( "#dialog-form" ).dialog({
		autoOpen: false,
		height: 550,
		width: 500,
		modal: true,
		buttons: {
			"Criar Evento": marcarDia,
			"Cancelar": function(){
				dialog.dialog("close");
			}
		},
		close: function() {
			form[ 0 ].reset();
			//allFields.removeClass( "ui-state-error" );
		}
	});
			
		
	form = dialog.find( "form" ).on( "submit", function( event ) {
		event.preventDefault();
	});
		
    // Cores para seleção !!!
	$.ajax({
	    url: '/Home/GetCores',
	    type: 'GET',
	    dataType: 'json',
	    contentType: 'application/json; charset=utf-8',
	    success: function (dados) {
	        processarCores(dados);
	    }
	});

	function processarCores(cores) {
	    var ul = $("<ul class=cores-ul/>");
	    var li = $("<li class=cores-li/>");
	    var p = $("<p/>");

	    var tabelaCores = $('#tabelacores');
	    var zul = ul.clone().appendTo(tabelaCores);

            
	    $.each(cores, function (i) {
	        var zli = li.clone()
            .data('bg', cores[i].Bg)
            .data('fg', cores[i].Fg)
            .addClass("thecs")
            .appendTo(zul);

	        p.clone().html("&nbsp;")
            .css('background', cores[i].Bg)
            .css('color', cores[i].Fg)
            .appendTo(zli);

	        $("<option value='" + cores[i].Bg + "'>" + cores[i].Bg + "</option>")
            .appendTo('#colorselect');
	    });
            

	    $('.thecs').on('click', colorClick);
	}

	function colorselectChange() {
	    var cor = $(this).val();
	    $('#amostracor').css('background', cor);
	}

	function colorClick(event) {
	    event.preventDefault();

	    // Pega os dados de background e foreground em "data-bg" e "data-fg"
	    var corbg = $(this).data('bg');
	    var corfg = $(this).data('fg');

	    // Visualização prévia
	    $('#amostra').css('background', corbg);
	    $('#amostra').css('color', corfg);

	    //$('#name').val(corbg);
	    // Seta os campos
	    $('#inputBG').val(corbg);
	    $('#inputFG').val(corfg);
	}

    // Figuras para seleção !!!
	$.ajax({
	    url: '/Home/GetFiguras',
	    type: 'GET',
	    dataType: 'json',
	    contentType: 'application/json; charset=utf-8',
	    success: function (dados) {
	        processarFiguras(dados);
	    }
	});
	function processarFiguras(data) {
	    // Veja o icosel!!!
	    var thespan = $("<span class='glyphicon icosel'></span>");
            
	    $.each(data, function (i) {
	        // Dia, Cor
	        var lugar = $("#tabelafiguras");
	        //lugar.css('background-color',data[i].Bg);
	        //var fig = lugar.find('.figuras');
	        //fig.css('color',data[i].Fg);
	        thespan.clone()
            .addClass(data[i].Descricao)
            .css('padding', '4px')
            .css('border', '1px solid #bbb')
            .css('margin', '4px')
            .appendTo(lugar);
	    });
	    $('.icosel').on("click", function (event) {
	        $(this).clone().appendTo($('#barra'));
	    });
	    /*
        $.each(cores, function(i) {
        var zli = li.clone()
        .data('bg',data[i].Bg)
        .data('fg',data[i].Fg)
        .addClass("thecs")
        .appendTo(zul);
        p.clone().text("X")
        .css('background',data[i].Bg)
        .css('color',data[i].Fg)
        .appendTo(zli);
        $("<option value='"+data[i].Bg+"'>"+ data[i].Bg +"</option>")
        .appendTo('#colorselect');
        });
        */
	    //////$('.thecs').on('click',colorClick);
	}


    // ????
    $('.data-valida').click(function (event) {
		var dia = $(this).data('dia');
		$("#numeroDia").val(dia);
		var target = event.target;
		$('#monitor').text('Eventos do dia '+dia); // Manda o dia
		
		dialog.title = "TESTE";
		dialog.dialog( "open" );
		
		alvo = $(this);
    });
	
	

 });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)


	<div class="row">
		<div class="col-md-12 cabecalhoCalendario">
            @Html.ActionLink("Voltar", "Index", "Calendarios", null, new { @class = "btn btn-default" })
			<a href="/Calendarios/@Model.CalendarioId/Eventos/@Model.MesAnterior" class="btn btn-warning">Anterior</a>
			&nbsp;@Model.MesNome/@Model.Ano
			&nbsp;
			<a href="/Calendarios/@Model.CalendarioId/Eventos/@Model.MesPosterior" class="btn btn-warning">Próximo</a>
		</div>
	</div>
    
    
	<div class="row">
        <div class="col-md-12 btn-group">
            <ul class="pagination">
                 @{ 
                    int i = 0;
                    string the_classe = "";
                    foreach (string m in Meses)
                    {
                        i++;
                        the_classe = (i == Model.Mes) ? "active" : "";
                        <li class="@the_classe"><a href="/Calendarios/@Model.CalendarioId/Eventos/@i">@m</a></li>
                    }
                 }
            </ul>
        </div>    
    </div>

    <div class="row">
		<div class="col-md-12" id="area">
			<ul class="fila-ul">
			<li class="coluna-li cabdia"><p class="pcabdia">DOM</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">SEG</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">TER</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">QUA</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">QUI</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">SEX</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">SÁB</p></li>
			
   @foreach (Visao360.Educacao.Models.DataCalendario d in Model.ListaDias)
   {
       if (d.Dia != 0)
       {
					<li class="coluna-li data-valida" id="xli-@d.Dia" data-dia="@d.Dia">
					<p class="dia a100">@d.Dia</p>
                        <div class="figuras"></div>
					</li>
       }
       else
       {
					<li class="coluna-li">
					    <p class="dia a100 cinza">&nbsp;</p>
                        <div class="figuras cinza"></div>
					</li>
       }
   }
			</ul>
		</div>
	</div>
    <!--
    _Html.HiddenFor(model => model.Id)
    _Html.HiddenFor(model => model.EscolaId)
    -->
}




<!-- Formulário -->
<div id="_dialog-form" title="Editar Eventos do Dia">
</div>

<!-- http://jsfiddle.net/ambiguous/pjJGf/ -->

<!-- Formulário -->
<div id="dialog-form" title="Editar Eventos do Dia">
	<!--
	<p class="validateTips">All form fields are required.</p>
	-->
	<p id="monitor"></p>
	<form>
		<div id="tabs">
		    <ul>
		    <li><a href="#tabs-1">Seleção de Cor</a></li>
		    <li><a href="#tabs-2">Seleção de Imagem</a></li>
		    </ul>
		    <div id="tabs-1">
				<p>Selecione abaixo a cor do tipo do dia</p>
				<div id="tabelacores2" style="width:400px; height:230px;">
                    <div id="tabelacores" style="width:210px; float:left;">
                    </div>
					<div id="amostra" style="float:left; width:190px; height:210px; text-align:center; border:solid 1px #808080;">
						<p style="padding-top:80px;">amostra</p>
					</div>
				</div>
				<input type="hidden" name="inputBG" id="inputBG" >
				<input type="hidden" name="inputFG" id="inputFG" >
                <input type="hidden" name="numeroDia" id="numeroDia" >
				<!-- Allow form submission with keyboard without duplicating the dialog button -->
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		    </div>

                     
		    <div id="tabs-2">
		  	Clique sobre uma ou mais figuras para adicionar
		  	<div id="tabelafiguras" style="width:400px;height:200px;font-size:14pt;overflow:auto;border:solid 1px #808080;">
		  	</div>
		  	Clique sobre as figuras abaixo para remover
		  	<div id="barra" style="width:400px;height:50px;font-size:14pt;background:#fff;overflow:auto;border:solid 1px #808080;">
		    </div>
		    </div>
                        
        </div>
	</form>
</div>


