@model Visao360.Educacao.Models.TheCalendario
@{
    ViewBag.Title = "Eventos do Calendário";
}

<style>
	label, input { display:block; }
	
	#monitor {font-size:12pt; font-weight:bold;}
	input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:25px; }
	h1 { font-size: 1.2em; margin: .6em 0; }
	div#users-contain { width: 350px; margin: 20px 0; }
	div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
	div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
	.ui-dialog .ui-state-error { padding: .3em; }
	.validateTips { border: 1px solid transparent; padding: 0.3em; }

	ul, li {
	    padding:0;
	    margin:0;
	    margin-top:-1px;
	    list-style:none;
	}
	
	.fila-ul { 
        width:1150px;
        height:100px;
        float:left;
        display:table;
        /*font-size:0;*/
	}
	
	.coluna-li { 
		width: 160px;
	    display:block;
	    float:left;
	    border:solid 1px #808080;
	    cursor:pointer;
	    position:relative;
	    overflow:hidden;
	    transition:all ease 0.35s;
	    /*font-size:12px;*/
	}

	.coluna-li p{
		margin:0;
		padding: 5px 5px 5px 3px;
	}
	
	.coluna-li p.dia {
		margin:0;
		/*padding: 5px 5px 5px 3px;*/
		text-align:right;
		font-size: 12pt;
		font-weight:bold;
		color: #111;
	}
	
	.coluna-li.cabdia{
		background: #ddd;
	}
	
	.coluna-li p.pcabdia {
		margin: 10px;
		text-align:center;
		font-size: 12pt;
		font-weight:bold;
		color: #555;
	}
	

	.a100{
		min-height: 70px;
	}
	
	.a50{
		height:50px;
	}
	
	.input-check { 
        display:block;
        opacity:.0;
        padding:0;
        margin:0;
        height:1px;
	}

	.cinza { 
        background:#aaa;
	}
	
	.verde {
		background:lime;
	}
	
	.amarelo {
		background:yellow;
	}
	
	.azul {
		background:#CCE9FF;
	}
	
	.vermelho {
		background:#f00;
	}
	
	.check { 
        /*background:#b6ff00;*/ 
	}
	
	.cabecalhoCalendario {
		padding: 10px;
		/*text-align:center;*/
		font-size: 12pt;
		font-weight:bold;
		color: #555;
		/*background: #ffff00;*/
	}
</style>

<script type="text/javascript">
$(function() {

	// Prepara dados para envio
	function getInformacao(){
		var nomeClasse = $('#name').val();
		var numeroDia = $('#numeroDia').val();
		
		var retorno = { Mes: @Model.Mes , Dia: numeroDia, Evento : nomeClasse };
		return retorno;
	}	

	var alvo;
    var ful = $("<ul class=fila-ul>");
    var fli = $("<li class=coluna-li><input type=checkbox><p/><li/>");
    var n = 0;

    // Função que desabilita o botão para assentos ocupadas
    $('.coluna-li').each(function () {
        if ($(this).data('title') == 'ocupado') {
            $(this).addClass('cinza');
            $(this).find('.input-check').prop('disabled', true).prop('checked', false);
        };
    });

 	var dialog, form;
	// From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
	//name = $( "#name" ),
	//email = $( "#email" ),
	//password = $( "#password" ),
	//allFields = $( [] ).add( name ).add( email ).add( password );
	
	//tips = $( ".validateTips" );

	/*
	function updateTips( t ) {
		tips.text( t )
		.addClass( "ui-state-highlight" );
		
		setTimeout(function() {
			tips.removeClass( "ui-state-highlight", 1500 );
		}, 500 );
	}
	
	
	function checkLength( o, n, min, max ) {
		if ( o.val().length > max || o.val().length < min ) {
			o.addClass( "ui-state-error" );
			updateTips( "Length of " + n + " must be between " +
			min + " and " + max + "." );
			return false;
		} else {
			return true;
		}
	}
	
	function checkRegexp( o, regexp, n ) {
		if ( !( regexp.test( o.val() ) ) ) {
			o.addClass( "ui-state-error" );
			updateTips( n );
			return false;
		} else {
			return true;
		}
	}
	*/
	
	function marcarDia(){
		if ($('#name').val() != ""){
			//$(alvo).addClass('amarelo');
			
			var info = getInformacao();
			//var json = jQuery.parseJSON(info);
			var json = JSON.stringify(info); // funfou
			//var xjson = $().parseJSON(info);
			
			//alert(info.toJSON());
			//alert(json);
			
			
			var classe = $('#name').val();
			
			dialog.dialog("close");
			
			$(alvo).data('classe',classe);
			
			//$('.coluna-li').each();
			
			$('.coluna-li').each(function () {
	            if ($(this).data('classe') != null) {
	            	classe = $(this).data('classe');
	                $(this).removeClass('amarelo');
	                $(this).removeClass('verde');
	                $(this).removeClass('azul');
	                $(this).removeClass('vermelho');
	                
	                $(this).addClass(classe);
	                //$(this).find('.input-check').prop('disabled', true).prop('checked', false);
	            };
        	});
			
			
			var nomeClasse = $('#name').val();
			var numeroDia = $('#numeroDia').val();
			var theMesAtual = 105; //@Model.MesAnterior;
			
			//alert("Mes Atual:"+theMesAtual);
			
			var envio = { Mes: theMesAtual, NumeroDia: numeroDia, NomeClasse : nomeClasse };

			
			$.ajax({
				url: '/Calendarios/EventosPost',
		        type: 'POST',
		        dataType: 'json',
		        data: json,
		        contentType: 'application/json; charset=utf-8',
		        success: function(dados){
		        	processarRetorno(dados);
		        }
		    });			
			
		}
	}
	
	function processarRetorno(data){
        $.each(data, function(i) {
        	// Dia, Cor
        	var nome = "#xli"+data[i].Dia;
        	$("#xli-"+data[i].Dia).addClass("amarelo");
        	
        	
			////alert("processando Dados: "+ data[i].Cor + );
			//alert(data[index].TEST2);
		});
	}
	
	/*	
	function addUser() {
		var valid = true;
		allFields.removeClass( "ui-state-error" );
		valid = valid && checkLength( name, "username", 3, 16 );
		valid = valid && checkLength( email, "email", 6, 80 );
		valid = valid && checkLength( password, "password", 5, 16 );
		valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
		valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
		if ( valid ) {
			$( "#users tbody" ).append( "<tr>" +
			"<td>" + name.val() + "</td>" +
			"<td>" + email.val() + "</td>" +
			"<td>" + password.val() + "</td>" +
			"</tr>" );
			dialog.dialog( "close" );
		}
		return valid;
	}
	*/
	
	dialog = $( "#dialog-form" ).dialog({
		autoOpen: false,
		height: 300,
		width: 350,
		modal: true,
		buttons: {
			"Criar Evento": marcarDia,
			"Cancelar": function(){
				dialog.dialog("close");
			}
		},
		close: function() {
			form[ 0 ].reset();
			//allFields.removeClass( "ui-state-error" );
		}
	});
			
		
	form = dialog.find( "form" ).on( "submit", function( event ) {
		event.preventDefault();
		/////////addUser();
	});
		
	/*	
	$( "#create-user" ).button().on( "click", function() {
		dialog.dialog( "open" );
	});
	*/
	
    $('.data-valida').click(function (event) {
		var dia = $(this).data('dia');
		$("#numeroDia").val(dia);
		var target = event.target;
		$('#monitor').text('Eventos do dia '+dia); // Manda o dia
		
		//alert( $('#dialog-form').attr('title'));
		
		dialog.title = "TESTE";
		dialog.dialog( "open" );
		
		alvo = $(this);
		
		//$(this).addClass('verde');
    });
	
	
	/*
	$( ".data-valida" ).on( "click", function(event ) {
	
	 	var dado = $(this).data('dia');
	
		var target = $( event.target );
		//var dado = event.target.nodeName; //target.data("dia");
		//$("#monitor").html(target.text()); // Manda o dia
		$("#monitor").html('O dia é '+dado); // Manda o dia
		dialog.dialog( "open" );
	});
	*/
	

 });
</script>

<div class="alert alert-info">
    Calendário: <strong>@ViewBag.Calendario.Descricao</strong>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)


	<div class="row">
		<div class="col-md-12 cabecalhoCalendario">
            @Html.ActionLink("Voltar", "Index", "Calendarios", null, new { @class = "btn btn-default" })
			<a href="/Calendarios/@Model.CalendarioId/Eventos/@Model.MesAnterior" class="btn btn-warning">Anterior</a>
			&nbsp;@Model.MesNome/@Model.Ano
			&nbsp;
			<a href="/Calendarios/@Model.CalendarioId/Eventos/@Model.MesPosterior" class="btn btn-warning">Próximo</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" id="area">
			<ul class="fila-ul">
			<li class="coluna-li cabdia"><p class="pcabdia">DOM</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">SEG</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">TER</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">QUA</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">QUI</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">SEX</p></li>
			<li class="coluna-li cabdia"><p class="pcabdia">SÁB</p></li>
			
			@foreach (Visao360.Educacao.Models.DataCalendario d in Model.ListaDias)
            {
				if (d.Dia != 0) {
					<li class="coluna-li data-valida" id="xli-@d.Dia" data-dia="@d.Dia">
					<p class="dia a100">@d.Dia</p>
					</li>
				} else {
					<li class="coluna-li">
					<p class="a100 cinza">&nbsp;</p>
					</li>
				}
			}
			</ul>
		</div>
	</div>
    <!--
    _Html.HiddenFor(model => model.Id)
    _Html.HiddenFor(model => model.EscolaId)
    -->
}




<!-- Formulário -->
<div id="dialog-form" title="Editar Eventos do Dia">
	<!--
	<p class="validateTips">All form fields are required.</p>
	-->
	<p id="monitor"></p>
	<form>
		<fieldset>
			<label for="name">Descrição:</label>
			<input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
			<input type="hidden" name="numeroDia" id="numeroDia" >
			<!--
			<label for="email">Email</label>
			<input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">
			-->
			<!-- Allow form submission with keyboard without duplicating the dialog button -->
			<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	</form>
</div>
	
<!--
<div id="users-contain" class="ui-widget">
	<h1>Usuários Atuais:</h1>
	<table id="users" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header ">
				<th>Name</th>
				<th>Email</th>
				<th>Password</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>John Doe</td>
				<td>john.doe@example.com</td>
				<td>johndoe1</td>
			</tr>
		</tbody>
	</table>
</div>
<button id="create-user">Create new user</button>
-->


<!-- http://jsfiddle.net/ambiguous/pjJGf/ -->