@model Dardani.EDU.Entities.Model.TipoEvento

@{
    ViewBag.Title = ViewBag.Acao;
}

<style>
    .ico {
        text-align:center;
        font-size:2em;
        padding:2px;
    }
    .icosel {
        padding : 4px;
        border : 1px solid #bbb;
        margin : 4px;
    }
    .icosel:hover{
        background: #f00;
        color: #fff;
    }
</style>

<script type="text/javascript">
    $(function () {
        var dialog, form;
        var thespan = $("<span class='glyphicon icosel'></span>");
        
        $("#Descricao").focus();

        $(".btnSelSimbolo").on("click", function (event) {
            var lugar = $("#tabelafiguras");
            var simbolo = $('#Simbolo').val();
            if (simbolo != "") {
                $('#barra').empty();
                thespan.clone()
                .addClass(simbolo)
                    .data('simbolo', simbolo)
                    .appendTo($('#barra'));
            }
            dialog.dialog("open");
        });

        function getInformacao() {
            var corBG = $('#inputBG').val();
            var numeroDia = $('#numeroDia').val();
            var retorno = { Mes: 6, Dia: numeroDia, Evento: corBG };
            return retorno;
        }
        function selecionarSimbolo() {
            var simbolo = $('#simboloPre').val();
            $("#Simbolo").val(simbolo);
            $('#divSimbolo').empty();
            $('#spanSimbolo').removeAttr('class');
            $('#spanSimbolo').addClass('ico').addClass('glyphicon').addClass(simbolo);

            dialog.dialog("close");
        }

        dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 550,
            width: 500,
            modal: true,
            buttons: {
                "Selecionar": selecionarSimbolo,
                "Cancelar": function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                form[0].reset();
                //allFields.removeClass( "ui-state-error" );
            }
        });

        form = dialog.find("form").on("submit",
            function (event) {
                event.preventDefault();
            });

        // Figuras para seleção !!!
        $.ajax({
            url: '/Home/GetFiguras',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (dados) {
                processarFiguras(dados);
            }
        });
        function processarFiguras(data) {
            // Veja o icosel!!!
            //var thespan = $("<span class='glyphicon icosel'></span>");

            $.each(data, function (i) {
                var lugar = $("#tabelafiguras");

                thespan.clone()
                .addClass(data[i].Descricao)
                    .data('simbolo', data[i].Descricao)
                    .appendTo(lugar);
            });
            $('.icosel').on("click", function (event) {
                //alert("Aqui???");
                $('#barra').empty();
                var simbolo = $(this).data('simbolo');
                $('#simboloPre').val($(this).data('simbolo'));
                $(this).clone().appendTo($('#barra'));
            });
        }

    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-4">
            <label class="input-label f-left">@Html.LabelFor(model => model.Descricao):</label>
            @Html.TextBoxFor(model => model.Descricao, new { @class = "input-text f-left" })
        </div>
        <div class="col-md-4">
            <label class="input-label f-left">@Html.LabelFor(model => model.Simbolo):</label>
            <div id="divsimbolo" style="width:100%; border:1px solid #d3d3d3; height:2.5em; text-align:center; margin-bottom:5px;"><span id="spanSimbolo" class="glyphicon ico @Model.Simbolo"></span></div>
            <input type="button" id="btnSelSimbolo" name="btnSelSimbolo" value="Selecinar" class="btn btn-default btnSelSimbolo" />
        </div>
        <div class="col-md-4">
            <label class="input-label f-left">@Html.LabelFor(model => model.FlagEscolar):</label>
            @Html.DropDownListFor(model => model.FlagEscolar, ViewBag.ListaSimNao as IEnumerable<SelectListItem>, new { @class = "input-select f-left" })
        </div>
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Simbolo, new { @class = "input-text-normal f-left" })
    <input type="hidden" name="simboloPre" id="simboloPre"/>
    
    <div class="row">
        <div class="col-md-12 pt-20">
            <input type="submit" value="Gravar" class="btn btn-success" />
            @Html.ActionLink("Voltar", "Index", "TiposEventos", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
<!-- Formulário -->
<div id="dialog-form" title="Seleção de Cor">
	<!--
	<p class="validateTips">All form fields are required.</p>
	-->
	<form>
        <div id="tabs-2">
		  	Clique sobre uma ou mais figuras para adicionar
		  	<div id="tabelafiguras" style="height:300px;font-size:14pt;overflow:auto;border:solid 1px #808080;">
		  	</div>
		  	Abaixo a imagem selecionada
		  	<div id="barra" style="height:60px;font-size:30pt;text-align:center; background:#fff;overflow:auto;border:solid 1px #808080;">
            </div>
        </div>
	</form>
</div>
