@model Dardani.EDU.Entities.Model.Turno

@{
    ViewBag.Title = "Exclusão de Turno";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">Deseja realmente excluir o Turno abaixo?</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label class="input-label f-left">@Html.LabelFor(model => model.Descricao):</label>
            <h4>@Html.DisplayFor(model => model.Descricao, new { @class = "input-text f-left" })</h4>
        </div>
    </div>
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col-md-12 pt-20">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Index", "Turnos", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
