@model Dardani.EDU.Entities.Model.TipoDia

@{
    ViewBag.Title = ViewBag.Acao;
}

<style>
    .cores-ul {
        width:175px;
        display:table;
    }
    .cores-li {
        width: 25px;
        height:30px;
        display:block;
        float:left;
        border:solid 1px #808080;
        cursor:pointer;
        position:relative;
        overflow:hidden;
        transition:all ease 0.35s;
    }
    .cores-li p{
        margin:0;
        padding: 5px 5px 5px 5px;
        text-align:center;
    }
</style>

<script type="text/javascript">
    $(function () {
        var COR_BK;
        var COR_FG;

        var dialog, form;

        $("#Descricao").focus();

        $("#tabs").tabs();

        $(".btnSelCor").on("click", function (event) {
            $('#amostra').css('background',$("#Cor").val());
            $('#amostra').css('color', $("#CorLetra").val());
            dialog.dialog("open");
        });
        
        /*
        function getInformacao(){
            var corBG = $('#inputBG').val();
            var numeroDia = $('#numeroDia').val();
            var retorno = { Mes:6, Dia: numeroDia, Evento : corBG };
            return retorno;
        }
        */
        /*
        function rgb2hex(rgb) {
            rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);

            alert(rgb);

            return (rgb && rgb.length === 4) ? "#" +
             ("0" + parseInt(rgb[1], 10).toString(16)).slice(-2) +
             ("0" + parseInt(rgb[2], 10).toString(16)).slice(-2) +
             ("0" + parseInt(rgb[3], 10).toString(16)).slice(-2) : '';
        }
        */

        function selecionarCor() {
            //var corBK = $('#amostra').css('background');
            //var corFG = $('#amostra').css('color');
            //var corFG = COR_FG; //$('#inputBG').val();
            //var corBK = COR_BK; //$('#inputBG').val();
            //$('#inputFG').val(corfg);

            //var corHexBK = rgb2hex(corBK);
            //var corHexFG = rgb2hex(corFG);

            //alert("FG " + corHexFG);
            //alert("BK " + corHexBK);


            $("#divcor").css('background', COR_BK);

            $("#Cor").val(COR_BK);
            $("#CorLetra").val(COR_FG);

            //$("#Cor").val(corHexBK);
            //$("#CorLetra").val(corHexFG);

            //alert("A cor da cor fg " + $("#CorLetra").val());
            //alert("A cor da corbk " + $("#Cor").val());
            dialog.dialog("close");
        }
        dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 400,
            width: 450,
            modal: true,
            buttons: {
                "Selecionar": selecionarCor,
                "Cancelar": function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                //form[0].reset();
            }
        });

        form = dialog.find("form").on("submit",
        function (event) {
            event.preventDefault();
            /////////addUser();
        });

        // Cores para seleção !!!
        $.ajax({
            url: '/Home/GetCores',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (dados) {
                processarCores(dados);
            }
        });

        function processarCores(cores) {
            var ul = $("<ul class=cores-ul/>");
            var li = $("<li class=cores-li/>");
            var p = $("<p/>");

            var tabelaCores = $('#tabelacores');
            var zul = ul.clone().appendTo(tabelaCores);
            $.each(cores, function (i) {
                var zli = li.clone()
                .data('bg', cores[i].Bg)
                .data('fg', cores[i].Fg)
                .addClass("thecs")
                .appendTo(zul);

                p.clone().html("&nbsp;")
                .css('background', cores[i].Bg)
                .css('color', cores[i].Fg)
                .appendTo(zli);

                $("<option value='" + cores[i].Bg + "'>" + cores[i].Bg + "</option>")
                .appendTo('#colorselect');
            });
            $('.thecs').on('click', colorClick);
        }

        function colorselectChange() {
            var cor = $(this).val();
            $('#amostracor').css('background', cor);
        }

        function colorClick(event) {
            event.preventDefault();

            // Pega os dados de background e foreground em "data-bg" e "data-fg"
            var corbg = $(this).data('bg');
            var corfg = $(this).data('fg');

            COR_BK = $(this).data('bg');
            COR_FG = $(this).data('fg');

            //alert('cor selecionada: ' + corbg);
            //$("#divcor").css('background', corbg);

            //$('#inputBG').val(corbg);
            //$('#inputFG').val(corfg);

            // Visualização prévia
            $('#amostra').css('background', corbg);
            $('#amostra').css('color', corfg);


            //$('#name').val(corbg);
            // Seta os campos
        }
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-4">
            <label class="input-label f-left">@Html.LabelFor(model => model.Descricao):</label>
            @Html.TextBoxFor(model => model.Descricao, new { @class = "input-text f-left" })
        </div>
        <div class="col-md-4">
            <label class="input-label f-left">@Html.LabelFor(model => model.Cor):</label>
            <div id="divcor" style="width:100%; border:1px solid #d3d3d3; height:2em; margin-bottom:5px; background:@Model.Cor">&nbsp;</div>
            <input type="button" id="btnSelCor" name="btnSelCor" value="Selecoinar Cor" class="btn btn-default btnSelCor" />
        </div>
        <div class="col-md-4">
            <label class="input-label f-left">@Html.LabelFor(model => model.FlagLetivo):</label>
            @Html.DropDownListFor(model => model.FlagLetivo, ViewBag.ListaSimNao as IEnumerable<SelectListItem>, new { @class = "input-select f-left" })
        </div>
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Cor)
    @Html.HiddenFor(model => model.CorLetra)
    <input type="hidden" name="inputBG" id="inputBG" >
	<input type="hidden" name="inputFG" id="inputFG" >
    <div class="row">
        <div class="col-md-12 pt-20">
            <input type="submit" value="Gravar" class="btn btn-success" />
            @Html.ActionLink("Voltar", "Index", "TiposDias", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
<!-- Formulário -->
<div id="dialog-form" title="Seleção de Cor">
	<!--
	<p class="validateTips">All form fields are required.</p>
	-->
	<p id="monitor"></p>
	<form>
		<div id="tabs-1">
			<p>Selecione abaixo a cor do Tipo do dia</p>
			<div id="tabelacores2" style="width:400px; height:230px;">
                <div id="tabelacores" style="width:210px; float:left;">
                </div>
				<div id="amostra" style="float:left; width:190px; height:210px; text-align:center; border:solid 1px #808080;">
					<p style="padding-top:80px;">amostra</p>
				</div>
			</div>
			<input type="hidden" name="numeroDia" id="numeroDia" >
			<!-- Allow form submission with keyboard without duplicating the dialog button -->
			<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</div>
	</form>
</div>


