@model Dardani.EDU.Entities.Model.TipoDia

@{
    ViewBag.Title = ViewBag.Acao;
}

<style>
    .cores-ul {
        width:175px;
        /*height:22px;*/
        /*float:left;*/
        display:table;
    }
    .cores-li {
        width: 25px;
        height:30px;
        display:block;
        float:left;
        border:solid 1px #808080;
        cursor:pointer;
        position:relative;
        overflow:hidden;
        transition:all ease 0.35s;
        /*font-size:12px;*/
    }
    .cores-li p{
        margin:0;
        padding: 5px 5px 5px 5px;
        text-align:center;
    }

    .icosel:hover{
        background: #f00;
        color: #fff;
    }
</style>

<script type="text/javascript">
    $(function () {
        var dialog, form;

        $("#Descricao").focus();

        $("#tabs").tabs();

        $(".btnSelCor").on("click", function (event) {
            dialog.dialog("open");
        });
        
        function getInformacao(){
            var corBG = $('#inputBG').val();
            var numeroDia = $('#numeroDia').val();
            var retorno = { Mes:6, Dia: numeroDia, Evento : corBG };
            return retorno;
        }	
        function selecionarCor() {
            $("#divcor").css('background', $('#amostra').css('background'));
            $("#Cor").val($('#amostra').css('background'));

            /*
            if ($('#name').val() != ""){
                var info = getInformacao();
                var json = JSON.stringify(info); // funfou
                dialog.dialog("close");
                $.ajax({
                    url: '/Home/CalendarioPost',
                    type: 'POST',
                    dataType: 'json',
                    data: json,
                    contentType: 'application/json; charset=utf-8',
                    success: function(dados){
                        processarRetorno(dados);
                    }
                });	
            }
            */
            dialog.dialog("close");
        }
        function processarRetorno(data){
            var imagens = [	"glyphicon-comment",
            "glyphicon-star",
            "glyphicon-time",
            "glyphicon-heart",
            "glyphicon-picture",
            "glyphicon-book"];
            var thespan = $("<span class='glyphicon'></span>");
            $.each(data, function(i) {
                // Dia, Cor
                var lugar = $("#xli-"+data[i].Dia);
                lugar.css('background-color',data[i].Bg);
                var fig = lugar.find('.figuras');
                fig.css('color',data[i].Fg);
                for (var x = 0; x < imagens.length; x++){
                    thespan.clone()
                    .addClass(imagens[x])
                    .css('padding','2px')
                    .appendTo(fig);
                }
            });
        }

        dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 550,
            width: 500,
            modal: true,
            buttons: {
                "Selecionar": selecionarCor,
                "Cancelar": function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                form[0].reset();
                //allFields.removeClass( "ui-state-error" );
            }
        });

        form = dialog.find("form").on("submit",
        function (event) {
            event.preventDefault();
            /////////addUser();
        });

        // Cores para seleção !!!
        $.ajax({
            url: '/Home/GetCores',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (dados) {
                processarCores(dados);
            }
        });

        function processarCores(cores) {
            var ul = $("<ul class=cores-ul/>");
            var li = $("<li class=cores-li/>");
            var p = $("<p/>");

            var tabelaCores = $('#tabelacores');
            var zul = ul.clone().appendTo(tabelaCores);

            
            $.each(cores, function (i) {
                var zli = li.clone()
                .data('bg', cores[i].Bg)
                .data('fg', cores[i].Fg)
                .addClass("thecs")
                .appendTo(zul);

                p.clone().html("&nbsp;")
                .css('background', cores[i].Bg)
                .css('color', cores[i].Fg)
                .appendTo(zli);

                $("<option value='" + cores[i].Bg + "'>" + cores[i].Bg + "</option>")
                .appendTo('#colorselect');
            });
            

            $('.thecs').on('click', colorClick);
        }

        function colorselectChange() {
            var cor = $(this).val();
            $('#amostracor').css('background', cor);
        }

        function colorClick(event) {
            event.preventDefault();

            // Pega os dados de background e foreground em "data-bg" e "data-fg"
            var corbg = $(this).data('bg');
            var corfg = $(this).data('fg');

            // Visualização prévia
            $('#amostra').css('background', corbg);
            $('#amostra').css('color', corfg);

            //$('#name').val(corbg);
            // Seta os campos
            $('#inputBG').val(corbg);
            $('#inputFG').val(corfg);
        }

        // Figuras para seleção !!!
        $.ajax({
            url: '/Home/GetFiguras',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (dados) {
                processarFiguras(dados);
            }
        });
        function processarFiguras(data) {
            // Veja o icosel!!!
            var thespan = $("<span class='glyphicon icosel'></span>");
            
            $.each(data, function (i) {
                // Dia, Cor
                var lugar = $("#tabelafiguras");
                //lugar.css('background-color',data[i].Bg);
                //var fig = lugar.find('.figuras');
                //fig.css('color',data[i].Fg);
                thespan.clone()
                .addClass(data[i].Descricao)
                .css('padding', '4px')
                .css('border', '1px solid #bbb')
                .css('margin', '4px')
                .appendTo(lugar);
            });
            $('.icosel').on("click", function (event) {
                $(this).clone().appendTo($('#barra'));
            });
            /*
            $.each(cores, function(i) {
            var zli = li.clone()
            .data('bg',data[i].Bg)
            .data('fg',data[i].Fg)
            .addClass("thecs")
            .appendTo(zul);
            p.clone().text("X")
            .css('background',data[i].Bg)
            .css('color',data[i].Fg)
            .appendTo(zli);
            $("<option value='"+data[i].Bg+"'>"+ data[i].Bg +"</option>")
            .appendTo('#colorselect');
            });
            */
            //////$('.thecs').on('click',colorClick);
        }

    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-4">
            <label class="input-label f-left">@Html.LabelFor(model => model.Descricao):</label>
            @Html.TextBoxFor(model => model.Descricao, new { @class = "input-text f-left" })
        </div>
        <div class="col-md-4">
            <label class="input-label f-left">@Html.LabelFor(model => model.Cor):</label>
            <div id="divcor" style="width:100%; border:1px solid #d3d3d3; height:2em; margin-bottom:5px; background:@Model.Cor">&nbsp;</div>
            <input type="button" id="btnSelCor" name="btnSelCor" value="Selecinar Cor" class="btn btn-default btnSelCor" />
        </div>
        <div class="col-md-4">
            <label class="input-label f-left">@Html.LabelFor(model => model.FlagLetivo):</label>
            @Html.DropDownListFor(model => model.FlagLetivo, ViewBag.ListaSimNao as IEnumerable<SelectListItem>, new { @class = "input-select f-left" })
        </div>
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Cor)
    <div class="row">
        <div class="col-md-12 pt-20">
            <input type="submit" value="Gravar" class="btn btn-success" />
            @Html.ActionLink("Voltar", "Index", "TiposDias", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
<!-- Formulário -->
<div id="dialog-form" title="Seleção de Cor">
	<!--
	<p class="validateTips">All form fields are required.</p>
	-->
	<p id="monitor"></p>
	<form>
		<div id="tabs">
		    <ul>
		    <li><a href="#tabs-1">Seleção de Cor</a></li>
		    <li><a href="#tabs-2">Seleção de Imagem</a></li>
		    </ul>
		    <div id="tabs-1">
				<p>Selecione abaixo a cor do tipo do dia</p>
				<div id="tabelacores2" style="width:400px; height:230px;">
                    <div id="tabelacores" style="width:210px; float:left;">
                    </div>
					<div id="amostra" style="float:left; width:190px; height:210px; text-align:center; border:solid 1px #808080;">
						<p style="padding-top:80px;">amostra</p>
					</div>
				</div>
				<input type="hidden" name="numeroDia" id="numeroDia" >
				<input type="hidden" name="inputBG" id="inputBG" >
				<input type="hidden" name="inputFG" id="inputFG" >
				<!-- Allow form submission with keyboard without duplicating the dialog button -->
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		    </div>

                     
		    <div id="tabs-2">
		  	Clique sobre uma ou mais figuras para adicionar
		  	<div id="tabelafiguras" style="width:400px;height:200px;font-size:14pt;overflow:auto;border:solid 1px #808080;">
		  	</div>
		  	Clique sobre as figuras abaixo para remover
		  	<div id="barra" style="width:400px;height:50px;font-size:14pt;background:#fff;overflow:auto;border:solid 1px #808080;">
		    </div>
		    </div>
                        
        </div>
	</form>
</div>


