@model Dardani.EDU.Entities.Model.PeriodoAno

@{
    ViewBag.Title = ViewBag.Acao;
}

<script type="text/javascript">
    $(function() {
        $("#Descricao").focus();
    });
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-6">
            <label class="input-label f-left">@Html.LabelFor(model => model.Descricao):</label>
            @Html.TextBoxFor(model => model.Descricao, new { @class = "input-text f-left"})
        </div>
        <div class="col-md-3">
            <label class="input-label f-left">@Html.LabelFor(model => model.DescricaoAbreviada):</label>
            @Html.TextBoxFor(model => model.DescricaoAbreviada, new { @class = "input-text f-left" })
        </div>
        <div class="col-md-3">
            <label class="input-label f-left">@Html.LabelFor(model => model.FlagAtivo):</label>
            @Html.DropDownListFor(model => model.FlagAtivo, ViewBag.ListaSimNao as IEnumerable<SelectListItem>, new { @class = "input-select f-left" })
        </div>
    </div>

    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col-md-12 pt-20">
            <input type="submit" value="Gravar" class="btn btn-success" />
            @Html.ActionLink("Voltar", "Index", "PeriodosAnos", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
